$site-content-width: 1440px;

// Sizes
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-22: 22px;
$size-24: 24px;
$size-32: 32px;
$size-40: 40px;

// Z-index
$z-modal: 100;

// Breakpoints
$xs-minor: 414px;
$xs: 468px;
$s: 769px;
$xxl: 1920px;

// Transitions
$transition-timing: .25s cubic-bezier(0.4, 0.0, 0.2, 1);
